.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 290px;
  padding: 8px 0;
  margin-right: 16px;

  img {
    width: 100%;
    height: 89%;
    object-fit: fill;
    border-radius: 6px;
  }

  .description {
    width: 100%;
    height: 21px;
    font-size: 1.4rem;
    color: var(--dark-gray);
    overflow-x: hidden;
    overflow-y: hidden;
  }
}