.wrapper {
   --search-border-radius: 92px;
   --search-height: 46px;

   height: var(--default-layout-header-height, 60px);
   box-shadow: 0px 1px 1px rgb(0 , 0, 0, 0.12);
   display: flex;
   justify-content: center;
   width: 100%;
}

.container {
   height: 100%;
   width: var(--default-layout-width);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   
}

.search,
.search-result {
   width: 361px;
}

.search {
   position: relative;
   height: var(--search-height);
   background-color: rgba(22,24,35,0.06);
   border-radius: var(--search-border-radius);
   padding-left: 16px;
   display: flex;
   border: 1.5px solid transparent;

   input {
      flex: 1;
      height: 100%;
      color: var(--black);
      font-size: 1.6rem;
      background-color: transparent;
      caret-color: var(--primary);
   }

   &::after {
      content: '';
      position: absolute;
      top: calc(var(--search-height) / 5);
      right: 52px;
      width: 1px;
      height: calc(var(--search-height) * (1 - 2 / 5));
      background-color: rgba(22,24,35,0.12);
   }

   &:focus-within {
      border-color: rgba(22,24,35,0.2);
   }

   &:hover {
      border-color: rgba(22,24,35,0.2);
   }
   &:hover ~ .search-btn {
      background-color: rgba(22,24,35,0.3);
   }
}

.search-result {
   color: var(--text-color);
}

.clear-btn,
.loading {
   position: absolute;
   right: 52px;
   top: 50%;
   transform: translateY(-50%);
   color: rgba(22,24,35,0.34);
   margin-right: 14px;
}

.loading {
   display: none;
}

.search-btn {
   width: 52px;
   height: 100%;
   border-top-right-radius: var(--search-border-radius);
   border-bottom-right-radius: var(--search-border-radius);
   font-size: 1.8rem;
   color: var(--gray);

   &:hover {
      background-color: rgba(22,24,35,0.03);
      cursor: pointer;
      // border: solid 0.5px #828282;
   }
}

.search-result-video {
   display: flex;
   flex-direction: column;
}

.search-result-video-item {
   padding: 8px;
   
   svg {
      margin-right: 12px;
   }
}

.search-result-account-title {
   color: gray
}

.search-result-account {
}

.search-result-account-item {
   padding: 8px 8px;
   display: flex;
   align-items: center;

   img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
   }
}

.account-info {
   display: flex;
   flex-direction: column;
   padding: 0 12px;
}

.account-name {


   svg {
      color: #1d9cdcdb;
      margin-left: 6px;
   }
}

.account-bio {

}

.action {
   display: flex;
   align-items: center;
}

.action-btn {
   color: var(--text-color);
   font-size: 2.2rem;
   padding: 0 12px;
   background-color: transparent;
   min-height: 43px;
   min-width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   position: relative;
}

.sup-badge {
   position: absolute;
   font-size: 1.4rem;
   top: -4%;
   right: 2%;
   color: var(--white);
   background-color: var(--primary);
   display: block;
   width: 30px;
   height: 20px;
   line-height: 20px;
   border-radius: 10px;
}

.more-btn {
   font-size: 2.0rem;
   margin-left: 20px;
   background-color: transparent;
   padding: 8px;
   cursor: pointer;
}

.user-avatar {
   width: 32px;
   height: 32px;
   object-fit: cover;
   border-radius: 50%;
   margin-left: 12px;
}
